ansible/vars.yml
external-skills/ast-grep/
external-skills/agent-browser/
external-skills/playwright/
nvim/.config/nvim/lazy-lock.json
claude/.claude/*
!claude/.claude/hooks/
!claude/.claude/hooks/*
.cache/
