---
git_user_name: "Your Name"
git_user_email: "you@example.com"
git_core_editor: "" # possible value: nvim
install_git_aliases: true
ai_assistants_sandbox_writable_roots: []
ai_assistants_sandbox_allowed_hosts:
  # Whitelist ChatGPT for Claude Code Codex skills
  - chatgpt.com
  - ab.chatgpt.com
pyenv_version: "v2.5.3"
uv_version: "0.9.21"
python_version: "3.13.12"
playbooks_in_main_playbook:
  - core
  - python
  - starship
  - node
  - ai-assistants
  - emacs
  - neovim
playwright_browsers:
  - chrome
